*.o
*.so
*.pyc
*.dump
*.log
*.rdb

*.*~
*~

.DS_Store?
ehthumbs.db
Icon?
Thumbs.db

weibo-crawler/node_modules/*
weibo-crawler/config/weibo.coffee

pom.xml
*jar
/lib/
/classes/
/targets/
.lein-deps-sum

