*.o
*.so
*.pyc
*.dump
*.log
*.rdb

*.*~
*~

*.DS_Store
*ehthumbs.db
*Icon?
*Thumbs.db

config/hosts.ini

*node_modules

backend/weibo-crawler/config/weibo.coffee

*pom.xml
*jar
*classes/
*targets/
*.lein-deps-sum

sandbox/tweet

logs/*